[project]
	description = testrepo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yellaturibabu
[access "refs/for/refs/*"]
	read = group user/yellaturibabu
	push = group user/yellaturibabu
	label-Code-Review = -2..+2 group user/yellaturibabu
	label-Verified = -1..+1 group user/yellaturibabu
	rebase = group user/yellaturibabu
	removeReviewer = group user/yellaturibabu
	submit = group user/yellaturibabu
[access "refs/heads/*"]
	read = group user/yellaturibabu
	create = group user/yellaturibabu
	push = +force group user/yellaturibabu
	pushMerge = group user/yellaturibabu
[access "refs/tags/*"]
	push = +force group user/yellaturibabu
	pushTag = group user/yellaturibabu
	pushSignedTag = group user/yellaturibabu
